<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/dokio/search_list">도키오</a><br>
    <a href="/dokio/<%=doc._id%>/review/write">리뷰쓰기</a>

    <table width =400 border="1">
      <tr>
        <th width="30">호텔</th>
        <td><%=doc.name%></a></td>
      </tr>
      <tr>
        <th>주소</th>
        <td><%=doc.address%></td>
      </tr>
      <tr>
        <th>운영시간</th>
        <td><%=doc.times%></td>
      </tr>
      <tr>
        <th>전화번호</th>
        <td><%=doc.phonenumber%></td>
      </tr>
      <tr>
        <th>서비스</th>
        <td><%=doc.services%></td>
      </tr>
      <tr>
        <th>소개글</th>
        <td><%=doc.content%></td>
      </tr>
      <tr>
        <th>가격</th>
        <td><%=doc.price%></td>
      </tr>
      <tr>
        <th>이벤트</th>
        <td><%=doc.events%></td>
      </tr>
      <tr>
        <th>규정</th>
        <td><%=doc.rule%></td>
      </tr>
      </table>
      <table width="400" border="1">
      <% for(var i=0, arr=doc.reviews, len=arr.length; i<len, dokio=arr[i]; i++) {%>
      <tr>
      <th>user</th>
        <td width="30"><a href="/dokio/<%=doc._id%>/review/<%=dokio.user_id%>"><%=dokio.content%></a></td>
        </tr>
        <tr>
        <th>content</th>
        <td><%=dokio.content%></td>
        </tr>
        <tr>
        <th>date</th>
        <td><%=dokio.date%></td>
        </tr>
        <% }%>
    </table>

  </body>
</html>
