<!-- mypage.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Dokio</a>
            </div>
            <div class="collapse navbar-collapse">
                    <div class="pull-right">
                        <% if (login) { %>
                            <a id="logout" href="/users/logout" class="navbar-brand">로그아웃</a>
                        <% } else { %>
                            <a id="login" href="/users/login" class="navbar-brand">로그인</a>
                        <% } %>
                    </div>
            </div>
        </div>

        <div id="side_bar" class="row-offcanvas row-offcanvas-left">
            <div id="sidebar" class="">
                  <div class="col-md-12">
                    <h3></h3>
                    <div id="my_info">
                    <% if (login) {%>
                        <% if (user.myprof_img) { %>
                            <img src="<%= user.myprof_img %>" class="img-circle" width="70" height="70">
                        <% } else { %>
                            <img src="https://s3.ap-northeast-2.amazonaws.com/dokio2/default_user.png" class="img-circle" width="70" height="70">
                        <% } %>
                        <br><br>
                        <p><b><%= user.name %></b>님 환영합니다.</p>
                    <% } else { %>
                        <img src="https://s3.ap-northeast-2.amazonaws.com/dokio2/default_user.png" class="img-circle" width="70" height="70">
                        <br><br>
                        <p><b><a href="#">로그인</a></b>이 필요합니다.</p>
                    <% } %>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                    <% if (login) {%>
                      <li><a style="color: gray"href="#">마이페이지</a></li>
                    <% } %>
                      <li><a href="#">글목록</a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
            </div>
            <div id="main">
            <br>
			<div class="">
			   <!-- left column -->
			   <div class="col-md-4 col-sm-6 col-xs-12">
			     <div class="text-center">
					<% if(user.myprof_img) { %>
			       		<img src="<%= user.myprof_img %>" class="img-circle img-thumbnail">
					<% } else { %>
						<img src="https://s3.ap-northeast-2.amazonaws.com/dokio2/default_user.png" class="avatar img-circle img-thumbnail" width="250" hegiht="250">
					<% } %>
			     </div>
			   </div>
			   <!-- edit form column -->
			   <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
			     <h3>상세 정보 페이지</h3>
			     <form class="form-horizontal" role="form">
			       <div class="form-group">
			         <label class="col-lg-3 control-label">아이디</label>
			         <div class="col-lg-8">
			           <br><%= user.userid %>
			         </div>
			       </div>
			       <div class="form-group">
			         <label class="col-lg-3 control-label">이메일</label>
			         <div class="col-lg-8">
			           <br><%= user.email %>
			         </div>
			       </div>
			       <div class="form-group">
			         <label class="col-lg-3 control-label">이름</label>
			         <div class="col-lg-8">
			           <br><%= user.name %>
			         </div>
			       </div>
			       <div class="form-group">
			         <label class="col-lg-3 control-label">전화번호</label>
			         <div class="col-lg-8">
			         	<br><%= user.phone_number %>
			         </div>
			       </div>
			       <div class="form-group">
			         <label class="col-md-3 control-label"></label>
			         <div class="col-md-8">
			           <a href="/users/edit/<%= user._id %>" type="button" class="btn btn-primary">정보 수정</a>
			         </div>
			       </div>
			     </form>
			   </div>
			 </div>


            </div>
        </div>
  </body>
</html>
