<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> 프로필 페이지</h1>
        <a href="/users/logout" class="btn btn-default btn-sm">로그아웃</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <% if (user.kakao) { %>
                <div class="well">
                                <h3 class="text-primary"> KaKao</h3>

                                    <p>
                                        <strong>id</strong>: <%= user.kakao.id %><br>
                                        <strong>token</strong>: <%= user.kakao.token %><br>
                                        <strong>email</strong>: <%= user.kakao.email %><br>
                                        <strong>name</strong>: <%= user.kakao.name %>
                                    </p>
                </div>
            <% } %>
            <% if (user.facebook.name) { %>
                <div class="well">
                                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                                    <p>
                                        <strong>id</strong>: <%= user.facebook.id %><br>
                                        <strong>token</strong>: <%= user.facebook.token %><br>
                                        <strong>email</strong>: <%= user.facebook.email %><br>
                                        <strong>name</strong>: <%= user.facebook.name %>
                                    </p>
                </div>
            <% } %>
            <% if (user.local.email) { %>
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>아이디값</strong>: <%= user._id %><br>
                        <strong>이메일</strong>: <%= user.local.email %><br>
                        <strong>암호화된 비밀번호</strong>: <%= user.local.password %><br>
                        <strong>주소</strong>: <%= user.address %><br>
                        <strong>이름</strong>: <%= user.name %><br>
                    </p>
            </div>
            <% } %>
        </div>

    </div>

</div>
</body>
</html>
